.table tbody {
    width: 100%;
    color: black;
    }

    .table tbody tr {
        border-bottom: 1px solid rgb(162, 162, 162);
    }

    .table tbody td {
        border: 3px solid rgb(162, 162, 162);
        padding: 1rem;
        border-top:none;
        border-bottom:none;
        width: calc(100% / 6);
        vertical-align: middle;
    }

    .table tbody button {
        font-size: 1.2rem;
        border-radius: 6px;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
    }

    #edit {
        border-left: none;
    };

    #edit button {
        background-color: red;
        cursor: pointer;
    }

    #del {
        color: rgb(1, 1, 1);
        background-color: rgb(255, 208, 0);
        cursor: pointer;
    }

    #copy {
        border-right: none;
    }

    #copy button {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 132, 29);
        cursor: pointer;
    }

    .table tbody input {
        font-size: 1.2rem;
        height: 3rem;
        width: 90%;
        margin-top: 0.5rem;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 6px;
    }

    